@media screen and (max-width: 1699px) {
  .interior-b {
    background-size: 200% auto;
  }
}
@media screen and (max-width: 1299px) {
  .interior-b {
    background-size: 250% auto;
  }
}
@media screen and (max-width: 1199px) {
  .panel__list {
    display: block;
  }

  .panel__item {
    width: 50%;
    display: inline-block;
  }

  .h3-content {
    font-size: 30px;
    letter-spacing: 3px;
  }
}
@media screen and (max-width: 959px) {
  .contacts-b {
    width: 100%;
    margin-bottom: 15px;
    display: block;
    text-align: center;
  }

  .soc-b_header {
    display: block;
    margin: auto;
  }

  .logo-b_header {
    display: inline-block;
  }

  .btn-burger-menu {
    display: inline-block;
    float: right;
  }

  .menu__list-first-level {
    display: none;
  }

  .comments-b__item {
    width: 50%;
  }

  .catalog-b__item {
    width: 50%;
  }

  .interior-b {
    background-size: cover;
  }

  .menu_footer {
    display: none;
  }

  .h3-content {
    font-size: 26px;
    letter-spacing: 3px;
  }
}
@media screen and (max-width: 767px) {
  .contacts-b {
    width: calc(100% - 145px);
    display: inline-block;
  }

  .contacts-b__item {
    margin-right: 0;
    display: block;
    text-align: left;
  }

  .soc-b_header {
    margin: 0;
    display: inline-block;
  }

  .p-banner-b {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
  }

  .panel__item {
    width: 100%;
    display: block;
    text-align: center;
  }

  .pannel__ico-wrap {
    width: 30%;
    text-align: right;
  }

  .pannel__info-box {
    width: 70%;
  }

  .showcase-b__item {
    width: 50%;
  }

  .comments-b__item {
    width: 100%;
  }

  .catalog-b {
    padding-bottom: 45px;
  }

  .chef-b {
    padding-top: 65px;
  }

  .chef-b__left-b {
    width: 100%;
    margin-bottom: 40px;
    padding-right: 0;
  }

  .chef-b__right-b {
    width: 100%;
  }

  .copyright-b {
    width: 100%;
    margin-bottom: 30px;
    display: block;
    text-align: center;
  }

  .soc-b_footer {
    width: 100%;
    display: block;
    text-align: center;
  }

  .text-handwritten_white {
    font-size: 34px;
  }

  .h1-content {
    font-size: 32px;
  }

  .h3-content {
    font-size: 34px;
    letter-spacing: 5px;
  }

  .contacts-data-b__int-b {
    width: 100%;
    text-align: center;
  }

  .feedback-b__int-b {
    width: 100%;
    padding: 0;
  }

  .feedback-b__column {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  .contacts-b {
    width: 100%;
    display: block;
  }

  .contacts-b__item {
    text-align: center;
  }

  .soc-b_header {
    display: block;
    margin: auto;
  }

  .catalog-b__item {
    width: 100%;
  }

  .chef-b__text {
    padding-right: 0;
  }

  .h3-content {
    font-size: 22px;
    letter-spacing: 2px;
  }
}
