html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

body, html {
  height: 100%;
}

img, fieldset, a img {
  border: none;
}

input[type="submit"],
button {
  cursor: pointer;
}
input[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
}

input, button {
  margin: 0;
  padding: 0;
  border: 0;
}

input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, a:focus {
  outline: none;
  font-weight: normal;
}

ul, ol {
  list-style-type: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a, img, a:active, a:focus {
  outline: none;
}

.clearfix:after {
  clear: both;
  display: block;
  content: "";
}

*, *:before, *:after {
  box-sizing: border-box;
}

.l_bl {
  float: left;
}

.r_bl {
  float: right;
}

.clearfix:after {
  clear: both;
  display: block;
  content: "";
}

body {
  font-family: Sans-serif;
}

.burger-menu-wrap {
  width: 320px;
  height: 100%;
  background: #0f0f0f;
  position: fixed;
  top: 0;
  left: -320px;
  z-index: 10;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.burger-menu-wrap.visible {
  left: 0;
}

.burger-menu__list {
  width: 100%;
  display: block;
  color: #fff;
  font-size: 18px;
}

.burger-menu__link {
  width: 100%;
  padding: 10px 20px;
  display: block;
  line-height: 18px;
  text-transform: uppercase;
}
.burger-menu__link:hover, .burger-menu__link:active {
  color: #e1002f;
  background: #2d2d32;
}

.site-container {
  overflow: hidden;
}

.site-wrap {
  min-width: 100%;
  position: relative;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.site-wrap.active {
  margin-left: 320px;
}

.site-wrap-overlay {
  z-index: 110;
  width: 100%;
  height: 100%;
  background: #000;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
}

.header {
  width: 100%;
  padding: 0 0 25px 0;
  background: #0f0f0f;
}

.content-limiter {
  max-width: 1200px;
  padding: 0 15px;
  margin: auto;
}

.container {
  display: block;
  font-size: 0;
  background: #000;
}
.container_header {
  padding: 5px 0;
}
.container_footer {
  padding: 20px 0;
}

.contacts-b {
  width: calc(100% - 145px);
  color: #bdbdbd;
  display: inline-block;
  vertical-align: top;
}

.contacts-b__list {
  font-size: 0;
}

.contacts-b__item {
  margin-right: 8%;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  font-size: 12px;
}
.contacts-b__item:last-child {
  margin-right: 0;
}

.contacnts-b__ico {
  margin-right: 10px;
  color: #fff;
}

.contacnts-b__link {
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.contacnts-b__link:hover {
  color: #e1002f;
}

.soc-b {
  width: 145px;
  font-size: 0;
  display: inline-block;
}

.soc-b__item {
  margin-right: 5px;
  display: inline-block;
  font-size: 14px;
}
.soc-b__item:last-child {
  margin-right: 0;
}

.soc-b__link {
  width: 25px;
  height: 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #2d2d32;
  display: block;
  position: relative;
  text-align: center;
  color: #bdbdbd;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.soc-b__link:hover {
  color: #000;
  background: #fff;
}

.soc-b__ico {
  line-height: 25px;
}

.logo-b {
  text-align: center;
}

.logo-b__link {
  display: inline-block;
  font-size: 0;
}

.logo-b__img {
  font-size: 0;
}

.menu {
  color: #fff;
  position: relative;
  z-index: 10;
}

.menu__list-first-level {
  text-align: center;
}

.menu__item-first-level {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 40px;
  display: inline-block;
  position: relative;
}
.menu__item-first-level:hover .menu__link_first-level {
  color: #e1002f;
}
.menu__item-first-level:hover .arrow-down:before {
  border-color: #e1002f;
}
.menu__item-first-level:last-child {
  margin-right: 0;
}

.menu__link {
  position: relative;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu__link_first-level {
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
}

.arrow-down {
  padding-right: 15px;
}
.arrow-down:before {
  content: "";
  width: 7px;
  height: 7px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  position: absolute;
  top: 20%;
  right: 0;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=$m11, M12=$m12,M21=$m21, M22=$m22, sizingMethod='auto expand');
  zoom: 1;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu__list-second-level {
  min-width: 240px;
  background: #2d2d32;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  text-align: left;
  font-size: 14px;
}

.menu__link_second-level {
  padding: 15px 50px 15px 30px;
  display: block;
  position: relative;
}
.menu__link_second-level:hover {
  color: #e1002f;
}

.arrow-right {
  padding-right: 15px;
}
.arrow-right:before {
  content: "";
  width: 7px;
  height: 7px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  position: absolute;
  top: 20%;
  right: 0;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=$m11, M12=$m12,M21=$m21, M22=$m22, sizingMethod='auto expand');
  zoom: 1;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.btn-burger-menu {
  width: 34px;
  height: 34px;
  padding-top: 10px;
  display: none;
  font-size: 0;
  cursor: pointer;
}

.btn-close-wrap {
  width: 100%;
  padding: 15px 0;
  text-align: right;
}

.btn-close {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  display: inline-block;
  font-size: 0;
  cursor: pointer;
}

.burger-line-horizontal {
  width: 100%;
  height: 5px;
  margin-bottom: 6px;
  background: #fff;
  display: inline-block;
  font-size: 0;
}

.burger-line-rotate-1 {
  width: 100%;
  height: 4px;
  margin-top: 4px;
  background: #e1002f;
  display: inline-block;
  font-size: 0;
  transform: rotate(45deg) translate(6px, 6px);
}

.burger-line-rotate-2 {
  width: 100%;
  height: 4px;
  margin-top: 4px;
  background: #e1002f;
  display: inline-block;
  font-size: 0;
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=$m11, M12=$m12,M21=$m21, M22=$m22, sizingMethod='auto expand');
  zoom: 1;
}

.banner-b {
  width: 100%;
  height: 800px;
  position: relative;
}
.banner-b::before {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}

.banner-b__bg {
  width: 100%;
  height: 800px;
  background: url("../img/banner.jpg") no-repeat fixed;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}

.banner-b__content {
  width: 100%;
  height: 800px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.p-banner-b {
  font-size: 22px;
  font-weight: 400;
  line-height: 36px;
}

.panel__list {
  display: flex;
  align-content: stretch;
  font-size: 0;
}

.panel__item {
  width: 25%;
  padding: 45px 30px;
  vertical-align: top;
  position: relative;
  font-size: 0;
}
.panel__item::after {
  width: 0;
  height: 5px;
  background: #e1002f;
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  content: "";
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.panel__item:hover:after {
  width: 100%;
  left: 0;
  right: 0;
}
.panel__item:hover .pannel_ico {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
  filter: none;
  opacity: 1;
}

.pannel__ico-wrap {
  width: 85px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 0;
}

.pannel_ico {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  opacity: 0.5;
  font-size: 0;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.pannel__info-box {
  width: calc(100% - 85px);
  padding-left: 30px;
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
}

.h5-panel {
  margin-bottom: 15px;
  font-size: 18px;
}

.stars-b {
  margin-bottom: 20px;
}

.showcase-b__list {
  font-size: 0;
}

.showcase-b__item {
  width: 25%;
  display: inline-block;
  vertical-align: top;
}

.showcase-b__link {
  width: 100%;
  background-color: #000;
  display: inline-block;
  position: relative;
  text-align: center;
}
.showcase-b__link::before {
  width: 0;
  height: 0;
  background: rgba(225, 0, 47, 0.2);
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  z-index: 10;
  content: "";
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.showcase-b__link::after {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  z-index: 10;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.showcase-b__link:hover:before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.showcase-b__link:hover:after {
  width: 0;
  height: 0;
  background: rgba(225, 0, 47, 0.2);
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
}

.showcase-b__content-wrap {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.showcase-b__content-wrap:before {
  margin-top: 150%;
  display: block;
  content: "";
}

.showcase-b__bg-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.showcase-b__bg-img:before {
  content: "";
  margin-top: 150%;
  display: block;
}
.showcase-b__bg-img_bg-1 {
  background: url("../img/dish-1.jpg") center center no-repeat;
  background-size: cover;
}
.showcase-b__bg-img_bg-2 {
  background: url("../img/dish-2.jpg") center center no-repeat;
  background-size: cover;
}
.showcase-b__bg-img_bg-3 {
  background: url("../img/dish-3.jpg") center center no-repeat;
  background-size: cover;
}
.showcase-b__bg-img_bg-4 {
  background: url("../img/dish-4.jpg") center center no-repeat;
  background-size: cover;
}

.showcase-b__link-fg {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}

.showcase-b__text-box {
  max-width: 90%;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.comments-b {
  width: 100%;
  padding: 100px 0 90px 0;
  background: url("../img/comments-b-bg.jpg");
  font-size: 15px;
  color: #fff;
}

.comments-b__list {
  text-align: center;
  font-size: 0;
}

.comments-b__item {
  width: 33.33%;
  padding: 0 15px;
  margin-bottom: 15px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  font-size: 15px;
}

.comments-b__author-b {
  font-size: 0;
}

.comments-b__avatar-wrap {
  width: 70px;
  height: 70px;
  margin: 0 15px 15px 0;
  display: inline-block;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.comments-b__author-name {
  width: calc(100% - 85px);
  padding-top: 10px;
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
}

.catalog-b {
  padding: 85px 0 105px 0;
}

.catalog-b__list-wrap {
  padding-top: 45px;
}

.catalog-b__list {
  font-size: 0;
}

.catalog-b__item {
  width: 25%;
  padding-right: 1px;
  margin-bottom: 30px;
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
}
.catalog-b__item:nth-child(4n) {
  padding-right: 0;
}

.catalog-b__link-img {
  width: 100%;
  margin-bottom: 30px;
  display: block;
  position: relative;
  overflow: hidden;
  font-size: 0;
}
.catalog-b__link-img::after {
  width: 50%;
  height: 100%;
  background: linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  display: block;
  position: absolute;
  top: 0;
  z-index: 2;
  left: -75%;
  -webkit-transform: skewX(25deg);
  -ms-transform: skewX(25deg);
  transform: skewX(25deg);
  content: "";
}
.catalog-b__link-img:hover:after {
  width: 100%;
  height: 100%;
  top: 0;
  left: 75%;
  transition: ease 0.5s;
}
.catalog-b__link-img::before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  content: "";
  transition: ease 0.5s;
}
.catalog-b__link-img:hover:before {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.catalog-b__img {
  width: 100%;
  height: auto;
}

.catalog-b__text-box {
  padding: 0 30px;
}

.catalog-b__link-text {
  font-weight: 600;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.catalog-b__link-text:hover {
  color: #e1002f;
}

.catalog-b__row {
  margin-bottom: 10px;
  display: flex;
  align-items: flex-end;
}

.catalog-b__column-left {
  padding-right: 15px;
  position: relative;
  flex: 1 1 auto;
  -webkit-box-flex: 1;
  overflow: hidden;
}

.catalog-b__price {
  font-weight: 600;
}

.catalog-b__text {
  font-size: 13px;
}

.chef-b {
  padding: 130px 0 110px 0;
  background: #f8f9f0;
}

.chef-b__container {
  font-size: 0;
}

.chef-b__left-b {
  width: 50%;
  display: inline-block;
  font-size: 15px;
}

.chef-b__right-b {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
}

.interior-b {
  width: 100%;
  height: 500px;
  background: url("../img/restaurant.jpg") no-repeat;
  background-size: 150% auto;
}

.interior-b__content {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.map {
  width: 100%;
  height: 500px;
  background: url("../img/map.png") center center no-repeat;
  position: relative;
}
.map::before {
  width: 100%;
  height: 100%;
  background: #000000;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  content: "";
}

.footer {
  width: 100%;
  padding: 60px 0 0 0;
  background: #0f0f0f;
}

.copyright-b {
  width: 85%;
  display: inline-block;
  color: #7b7b7a;
  font-size: 13px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-70 {
  margin-bottom: 70px;
}

.pr-160 {
  padding-right: 160px;
}

.text-center {
  text-align: center;
}

.text-white {
  color: #fff;
}

.text-light-gray {
  color: #bdbdbd;
}

.text-gray {
  color: #767675;
}

.text-red {
  color: #e1002f;
}

.text-handwritten {
  font-style: italic;
  font-size: 23px;
}
.text-handwritten_red {
  color: #e1002f;
}
.text-handwritten_white {
  font-size: 46px;
}

.text-handwritten-gray-rotate {
  font-style: italic;
  font-size: 25px;
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=$m11, M12=$m12,M21=$m21, M22=$m22, sizingMethod='auto expand');
  zoom: 1;
}

.h1-content {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 600;
  word-wrap: break-word;
}

.h2-content {
  font-size: 29px;
}

.h3-content {
  position: relative;
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 5px;
  word-wrap: break-word;
  color: #fff;
}

.h4-content {
  display: inline;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
}

.h5-content {
  font-size: 19px;
  font-weight: 400;
}

.p-content {
  font-size: 15px;
  line-height: 1.75;
}

.quotes {
  padding-top: 75px;
  position: relative;
}
.quotes::before {
  width: 50px;
  height: 50px;
  line-height: 120px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  content: "''";
  font-size: 120px;
}

.dots:after {
  width: 2560px;
  border-bottom: 2px dotted #ccc;
  position: absolute;
  bottom: 3px;
  z-index: -10;
  content: "";
}

.btn {
  width: 195px;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.btn_red {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #ca0018;
}
.btn_red:hover {
  background: #fc0018;
}
.btn_red:active {
  background: #980018;
}
.btn_red-small {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 120px;
  line-height: 30px;
  background: #e1002f;
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 10;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}
.btn_red-small:hover {
  background: #000;
}
.btn_red-transparent {
  border: 2px solid #e1002f;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.btn_red-transparent:hover {
  border-color: #fc0018;
  background: #fc0018;
}
.btn_red-transparent:active {
  border-color: #980018;
  background: #980018;
}

@media screen and (max-width: 1199px) {
  .panel__list {
    display: block;
  }

  .panel__item {
    width: 50%;
    display: inline-block;
  }

  .h3-content {
    font-size: 30px;
    letter-spacing: 3px;
  }
}
@media screen and (max-width: 959px) {
  .contacts-b {
    width: 100%;
    margin-bottom: 15px;
    display: block;
    text-align: center;
  }

  .soc-b {
    display: block;
    margin: auto;
  }

  .logo-b {
    display: inline-block;
  }

  .btn-burger-menu {
    display: inline-block;
    float: right;
  }

  .menu__list-first-level {
    display: none;
  }

  .comments-b__item {
    width: 50%;
  }

  .h3-content {
    font-size: 26px;
    letter-spacing: 3px;
  }
}
@media screen and (max-width: 767px) {
  .contacts-b {
    width: calc(100% - 145px);
    display: inline-block;
  }

  .contacts-b__item {
    margin-right: 0;
    display: block;
    text-align: left;
  }

  .soc-b {
    margin: 0;
    display: inline-block;
  }

  .p-banner-b {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
  }

  .panel__item {
    width: 100%;
    display: block;
    text-align: center;
  }

  .pannel__ico-wrap {
    width: 30%;
    text-align: right;
  }

  .pannel__info-box {
    width: 70%;
  }

  .showcase-b__item {
    width: 50%;
  }

  .comments-b__item {
    width: 100%;
  }

  .text-handwritten_white {
    font-size: 34px;
  }

  .h1-content {
    font-size: 32px;
  }

  .h3-content {
    font-size: 34px;
    letter-spacing: 5px;
  }
}
@media screen and (max-width: 479px) {
  .contacts-b {
    width: 100%;
    display: block;
  }

  .contacts-b__item {
    text-align: center;
  }

  .soc-b {
    display: block;
    margin: auto;
  }

  .h3-content {
    font-size: 22px;
    letter-spacing: 2px;
  }
}
