@media screen and (max-width: 1199px) {
  .panel__list {
    display: block;
  }

  .panel__item {
    width: 50%;
    display: inline-block;
  }

  .h3-content {
    font-size: 30px;
    letter-spacing: 3px;
  }
}
@media screen and (max-width: 959px) {
  .contacts-b {
    width: 100%;
    margin-bottom: 15px;
    display: block;
    text-align: center;
  }

  .soc-b {
    display: block;
    margin: auto;
  }

  .logo-b {
    display: inline-block;
  }

  .btn-burger-menu {
    display: inline-block;
    float: right;
  }

  .menu__list-first-level {
    display: none;
  }

  .comments-b__item {
    width: 50%;
  }

  .h3-content {
    font-size: 26px;
    letter-spacing: 3px;
  }
}
@media screen and (max-width: 767px) {
  .contacts-b {
    width: calc(100% - 145px);
    display: inline-block;
  }

  .contacts-b__item {
    margin-right: 0;
    display: block;
    text-align: left;
  }

  .soc-b {
    margin: 0;
    display: inline-block;
  }

  .p-banner-b {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
  }

  .panel__item {
    width: 100%;
    display: block;
    text-align: center;
  }

  .pannel__ico-wrap {
    width: 30%;
    text-align: right;
  }

  .pannel__info-box {
    width: 70%;
  }

  .showcase-b__item {
    width: 50%;
  }

  .comments-b__item {
    width: 100%;
  }

  .text-handwritten_white {
    font-size: 34px;
  }

  .h1-content {
    font-size: 32px;
  }

  .h3-content {
    font-size: 34px;
    letter-spacing: 5px;
  }
}
@media screen and (max-width: 479px) {
  .contacts-b {
    width: 100%;
    display: block;
  }

  .contacts-b__item {
    text-align: center;
  }

  .soc-b {
    display: block;
    margin: auto;
  }

  .h3-content {
    font-size: 22px;
    letter-spacing: 2px;
  }
}
