{% extends "layouts/app.twig" %}

{% block content %}
    <section class="way-b">
        <div class="content-limiter">
            <ul class="way-b__list">
                <li class="way-b__item">
                    <a class="way-b__link" href="#">Home</a>
                </li>
                <li class="way-b__item">
                    Services
                </li>
            </ul>
        </div>
    </section>
    <section class="banner-b">
        <div class="content-limiter">
            <div class="banner-b__text-box">
                <h2 class="h2-content mb-15">Private Dining, Catering & More…</h2>
                <p class="text-handwritten text-handwritten_red mb-40">Every additional service possible!</p>
                <p class="p-content mb-25">Our Japanese restaurant has three beautifully decorated & intimate private dining rooms, which are perfectly fit for dining, meetings, seminars and parties, for groups of 5 to 50 and each!<br>Also, besides that additional service we offer:</p>
                <p class="p-content mb-25">
                    business catering<br>
                    Personal Catering<br>
                    diet menu<br>
                    Japanese food delivery<br>
                    … and a few new services are just being developed right now!
                </p>
            </div>
        </div>
    </section>
    <section class="services-b">
        <div class="content-limiter">
            <ul class="services-b__list text-center">
                <li class="services-b__item">
                    <a class="services-b__link-img mb-20" href="#">
                        <img class="services-b__img" src="img/bell.png">
                    </a>
                    <a class="services-b__link mb-15" href="#">
                        <h5 class="h5-content">Personal Events Catering</h5>
                    </a>
                    <p class="p-content">
                        We cater any types of events. Starting with weddings, baby showers, bachelor parties birthdays and finishing  with anniversaries…
                    </p>
                </li>
                <li class="services-b__item">
                    <a class="services-b__link-img mb-20" href="#">
                        <img class="services-b__img" src="img/phone-24.png">
                    </a>
                    <a class="services-b__link mb-15" href="#">
                        <h5 class="h5-content">Private Dining</h5>
                    </a>
                    <p class="p-content">
                        If you want to rent out one of our incredible dining halls for a little private meal tasting event, we’ll be more than happy to do that for you!
                    </p>
                </li>
                <li class="services-b__item">
                    <a class="services-b__link-img mb-20" href="#">
                        <img class="services-b__img" src="img/portfolio.png">
                    </a>
                    <a class="services-b__link mb-15" href="#">
                        <h5 class="h5-content">Business catering</h5>
                    </a>
                    <p class="p-content">
                        Our restaurant offers a business catering service that will keep even the most demanding companies well-fed, well serviced and fully satisfied!
                    </p>
                </li>
                <li class="services-b__item">
                    <a class="services-b__link-img mb-20" href="#">
                        <img class="services-b__img" src="img/truck-o-clock.png">
                    </a>
                    <a class="services-b__link mb-15" href="#">
                        <h5 class="h5-content">Personal menu delivery</h5>
                    </a>
                    <p class="p-content">
                        If you’re looking for a balanced, well selected menu, our tailored personal catering service will deliver it to you in no time! All of our Japanese menu items can be delivered that way!
                    </p>
                </li>
                <li class="services-b__item">
                    <a class="services-b__link-img mb-20" href="#">
                        <img class="services-b__img" src="img/flag.png">
                    </a>
                    <a class="services-b__link mb-15" href="#">
                        <h5 class="h5-content">Party consulting</h5>
                    </a>
                    <p class="p-content">
                        As food events professionals, we’ll be more than glad to share one of our managers to advise you on party’s menu, selection of beverages and the interior for any type of occasion…
                    </p>
                </li>
                <li class="services-b__item">
                    <a class="services-b__link-img mb-20" href="#">
                        <img class="services-b__img" src="img/shirt.png">
                    </a>
                    <a class="services-b__link mb-15" href="#">
                        <h5 class="h5-content">Diet menu</h5>
                    </a>
                    <p class="p-content">
                        We know how hard it is to follow a diet on your own… We will customize its menu for any specific type of diet you’re on! We’ll even deliver it to your doorstep, 3 times a day!
                    </p>
                </li>
            </ul>
        </div>
    </section>
{% endblock %}