<!doctype html>
<html lang="en">
<head>
    <title>TANAKA</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Stylesheets -->
    {% include "stylesheets.twig" %}
</head>
<body>
    <div class="site-container">
        <div class="burger-menu-wrap popup">
            {% include "hamb-menu.twig" %}
        </div>
        <div class="site-wrap">
            <div class="site-wrap-overlay"></div>

            <!-- Header block -->
            {% include "header.twig" %}
            <!-- Header block end -->

            <!-- Block content -->
            {% block content %}{% endblock %}
            <!-- Block content end -->

            <!-- Footer block -->
            {% include "footer.twig" %}
            <!-- Footer block end -->

            <!-- Scripts -->
            {% include "scripts.twig" %}
        </div>
    </div>
</body>
</html>