<div class="btn-close-wrap">
    <div class="btn-close">
        <span class="line-rotate-cross line-rotate-cross_1"></span>
        <span class="line-rotate-cross line-rotate-cross_2"></span>
    </div>
</div>
<nav class="burger-menu">
    <ul class="burger-menu__list">
        <li class="burger-menu__item">
            <div class="burger-menu__row">
                <a class="burger-menu__link burger-menu__link_first-level" href="#">Home</a>
            </div>
        </li>
        <li class="burger-menu__item">
            <div class="burger-menu__row">
                <a class="burger-menu__link burger-menu__link_first-level" href="#">About</a>
            </div>
        </li>
        <li class="burger-menu__item">
            <div class="burger-menu__row">
                <a class="burger-menu__link burger-menu__link_first-level burger-menu__link_dd" href="#">Menu</a>
                <div class="btn-explode-wrap">
                    <div class="btn-explode">
                        <span class="line-plus line-plus_vertical"></span>
                        <span class="line-plus line-plus_horizontal"></span>
                    </div>
                </div>
            </div>
            <ul class="burger-menu__list burger-menu__list_second-level">
                <li class="burger-menu__item">
                    <a class="burger-menu__link burger-menu__link_second-level" href="#">Option 1</a>
                </li>
                <li class="burger-menu__item">
                    <a class="burger-menu__link burger-menu__link_second-level" href="#">Option 2</a>
                </li>
                <li class="burger-menu__item">
                    <a class="burger-menu__link burger-menu__link_second-level" href="#">Option 3</a>
                </li>
            </ul>
        </li>
        <li class="burger-menu__item">
            <div class="burger-menu__row">
                <a class="burger-menu__link burger-menu__link_first-level burger-menu__link_dd" href="#">Gallery</a>
                <div class="btn-explode-wrap">
                    <div class="btn-explode">
                        <span class="line-plus line-plus_vertical"></span>
                        <span class="line-plus line-plus_horizontal"></span>
                    </div>
                </div>
            </div>
            <ul class="burger-menu__list burger-menu__list_second-level">
                <li class="burger-menu__item">
                    <a class="burger-menu__link burger-menu__link_second-level" href="#">Gallery 1</a>
                </li>
                <li class="burger-menu__item">
                    <a class="burger-menu__link burger-menu__link_second-level" href="#">Gallery 2</a>
                </li>
                <li class="burger-menu__item">
                    <a class="burger-menu__link burger-menu__link_second-level" href="#">Gallery 3</a>
                </li>
            </ul>
        </li>
        <li class="burger-menu__item">
            <div class="burger-menu__row">
                <a class="burger-menu__link burger-menu__link_first-level" href="#">Reservation</a>
            </div>
        </li>
        <li class="burger-menu__item">
            <div class="burger-menu__row">
                <a class="burger-menu__link burger-menu__link_first-level burger-menu__link_dd" href="#">Blog</a>
                <div class="btn-explode-wrap">
                    <div class="btn-explode">
                        <span class="line-plus line-plus_vertical"></span>
                        <span class="line-plus line-plus_horizontal"></span>
                    </div>
                </div>
            </div>
            <ul class="burger-menu__list burger-menu__list_second-level">
                <li class="burger-menu__item">
                    <a class="burger-menu__link burger-menu__link_second-level" href="#">Post 1</a>
                </li>
                <li class="burger-menu__item">
                    <a class="burger-menu__link burger-menu__link_second-level" href="#">Post 2</a>
                </li>
                <li class="burger-menu__item">
                    <a class="burger-menu__link burger-menu__link_second-level" href="#">Post 3</a>
                </li>
            </ul>
        </li>
        <li class="burger-menu__item">
            <div class="burger-menu__row">
                <a class="burger-menu__link burger-menu__link_first-level" href="#">Contact Us</a>
            </div>
        </li>
    </ul>
</nav>