<footer class="footer">
    <div class="content-limiter">
        <div class="logo-b mb-40">
            <a class="logo-b__link" href="#">
                <img class="logo-b__img" src="img/logo.png">
            </a>
        </div>
        <nav class="menu mb-70">
            <ul class="menu__list-first-level">
                <li class="menu__item-first-level">
                    <a class="menu__link menu__link_first-level" href="#">About</a>
                </li>
                <li class="menu__item-first-level">
                    <a class="menu__link menu__link_first-level" href="#">Menu</a>
                </li>
                <li class="menu__item-first-level">
                    <a class="menu__link menu__link_first-level" href="#">Gallery</a>
                </li>
                <li class="menu__item-first-level">
                    <a class="menu__link menu__link_first-level" href="#">Reservation</a>
                </li>
                <li class="menu__item-first-level">
                    <a class="menu__link menu__link_first-level" href="#">Blog</a>
                </li>
                <li class="menu__item-first-level">
                    <a class="menu__link menu__link_first-level" href="#">Contact Us</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="container container_footer">
        <div class="content-limiter">
            <div class="copyright-b">
                <p>&#169; 2016 Tanaka. All Rights Reserved. Terms of use and Privacy Policy</p>
            </div>
            <div class="soc-b">
                <ul class="soc-b__list">
                    <li class="soc-b__item">
                        <a class="soc-b__link" href="#">
                            <i class="soc-b__ico fa fa-foursquare" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="soc-b__item">
                        <a class="soc-b__link" href="#">
                            <i class="soc-b__ico fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="soc-b__item">
                        <a class="soc-b__link" href="#">
                            <i class="soc-b__ico fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="soc-b__item">
                        <a class="soc-b__link" href="#">
                            <i class="soc-b__ico fa fa-tripadvisor" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="soc-b__item">
                        <a class="soc-b__link" href="#">
                            <i class="soc-b__ico fa fa-google-plus" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    <div>
</footer>