<div class="btn-close-wrap">
    <div class="btn-close">
        <span class="burger-line-rotate-1"></span>
        <span class="burger-line-rotate-2"></span>
    </div>
</div>
<nav class="burger-menu">
    <ul class="burger-menu__list">
        <li class="burger-menu__item">
            <a class="burger-menu__link" href="#">Home</a>
        </li>
        <li class="burger-menu__item">
            <a class="burger-menu__link" href="#">About</a>
        </li>
        <li class="burger-menu__item">
            <a class="burger-menu__link" href="#">Menu</a>
        </li>
        <li class="burger-menu__item">
            <a class="burger-menu__link" href="#">Gallery</a>
        </li>
        <li class="burger-menu__item">
            <a class="burger-menu__link" href="#">Reservation</a>
        </li>
        <li class="burger-menu__item">
            <a class="burger-menu__link" href="#">Blog</a>
        </li>
        <li class="burger-menu__item">
            <a class="burger-menu__link" href="#">Contact Us</a>
        </li>
    </ul>
</nav>