<header class="header">
    <div class="container container_header black mb-30">
        <div class="content-limiter">
            <div class="contacts-b">
                <ul class="contacts-b__list">
                    <li class="contacts-b__item">
                        <i class="contacnts-b__ico fa fa-map-marker" aria-hidden="true"></i>
                        6087 Richmond hwy, Alexandria, VA
                    </li>
                    <li class="contacts-b__item">
                        <i class="contacnts-b__ico fa fa-phone" aria-hidden="true"></i>
                        <a class="contacnts-b__link" href="tel:703 329 0632">703 329 0632</a>
                    </li>
                    <li class="contacts-b__item">
                        <i class="contacnts-b__ico fa fa-clock-o" aria-hidden="true"></i>
                        Mo-Fr 11:00-00:00, Sa-Su 15:00-00:00
                    </li>
                </ul>
            </div>
            <div class="soc-b soc-b_header">
                <ul class="soc-b__list">
                    <li class="soc-b__item">
                        <a class="soc-b__link" href="#">
                            <i class="soc-b__ico fa fa-foursquare" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="soc-b__item">
                        <a class="soc-b__link" href="#">
                            <i class="soc-b__ico fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="soc-b__item">
                        <a class="soc-b__link" href="#">
                            <i class="soc-b__ico fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="soc-b__item">
                        <a class="soc-b__link" href="#">
                            <i class="soc-b__ico fa fa-tripadvisor" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="soc-b__item">
                        <a class="soc-b__link" href="#">
                            <i class="soc-b__ico fa fa-google-plus" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content-limiter">
        <div class="logo-b logo-b_header mb-15">
            <a class="logo-b__link" href="#">
                <img class="logo-b__img" src="img/logo.png">
            </a>
        </div>
        <div class="btn-burger-menu popup-open">
            <span class="burger-line-horizontal"></span>
            <span class="burger-line-horizontal"></span>
            <span class="burger-line-horizontal"></span>
        </div>
        <nav class="menu">
            <ul class="menu__list-first-level">
                <li class="menu__item-first-level">
                    <a class="menu__link menu__link_first-level" href="#">Home</a>
                </li>
                <li class="menu__item-first-level">
                    <a class="menu__link menu__link_first-level" href="#">About</a>
                </li>
                <li class="menu__item-first-level">
                    <a class="menu__link menu__link_first-level arrow-down" href="#">Menu</a>
                    <ul class="menu__list-second-level">
                        <li class="menu__item-second-level">
                            <a class="menu__link menu__link_second-level" href="#">Option 1</a>
                        </li>
                        <li class="menu__item-second-level">
                            <a class="menu__link menu__link_second-level" href="#">Option 2</a>
                        </li>
                        <li class="menu__item-second-level">
                            <a class="menu__link menu__link_second-level" href="#">Option 3</a>
                        </li>
                    </ul>
                </li>
                <li class="menu__item-first-level">
                    <a class="menu__link menu__link_first-level arrow-down" href="#">Gallery</a>
                    <ul class="menu__list-second-level">
                        <li class="menu__item-second-level">
                            <a class="menu__link menu__link_second-level" href="#">Gallery 1</a>
                        </li>
                        <li class="menu__item-second-level">
                            <a class="menu__link menu__link_second-level" href="#">Gallery 2</a>
                        </li>
                        <li class="menu__item-second-level">
                            <a class="menu__link menu__link_second-level" href="#">Gallery 3</a>
                        </li>
                    </ul>
                </li>
                <li class="menu__item-first-level">
                    <a class="menu__link menu__link_first-level" href="#">Reservation</a>
                </li>
                <li class="menu__item-first-level">
                    <a class="menu__link menu__link_first-level arrow-down" href="#">Blog</a>
                    <ul class="menu__list-second-level">
                        <li class="menu__item-second-level">
                            <a class="menu__link menu__link_second-level" href="#">Post 1</a>
                        </li>
                        <li class="menu__item-second-level">
                            <a class="menu__link menu__link_second-level" href="#">Post 2</a>
                        </li>
                        <li class="menu__item-second-level">
                            <a class="menu__link menu__link_second-level" href="#">Post 3</a>
                        </li>
                    </ul>
                </li>
                <li class="menu__item-first-level">
                    <a class="menu__link menu__link_first-level" href="#">Contact Us</a>
                </li>
            </ul>
        </nav>
    </div>
</header>